[flake8]
# config
test-func-name-validator-regex = test_.*

suppress-dummy-args = true

literal-inline-quotes = "double"
literal-multiline-quotes = "double"
literal-docstring-quotes = "double"
literal-include-name = true

# black
max-line-length = 88

# ignores
extend-ignore =
  # not required or shadowed by other plugins
  D I FI TC Q U101 S101 WPS400

  # black
  WPS348 E302 C815
  # weird
  PIE803 C101 FNE008 ANN101 ANN102 WPS100 WPS111
  # broken
  PIE798 WPS226 WPS354 RST304
  WPS322 WPS428 WPS462  # fails for class-attribute docstrings
  U100  # fails to understand `raise NotImplementedError`
  WPS110 VNE002  # screams at variables in overriden methods

  # too many
  WPS211 WPS214 WPS212 WPS221

  # don't block features
  WPS237  # screams at 'complex' f-strings
  WPS305  # f-strings are the best
  WPS306  # python 2.x is deprecated
  WPS420  # pass is a thing
  WPS412  # __init__ for libs is required
  WPS430  # nested functions
  WPS501  # try-finally with no except
  WPS600  # subclassing lowercase builtins
  WPS602  # @staticmethod
  WPS604  # some cringe /w banning constructions, including `pass`
  WPS605  # methods with no arguments

  # preferences
  WPS337  # multiline conditions

per-file-ignores =
  __init__.py: F401
